.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5rem;
}

.tree-invisible {
    display: none;
  }
  
.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-position {
    position: relative;
    top: 5%;
} 
